body {
  font-family: Helvetica;
  background-image: url("../images/wp2557267.png");
  /* height: 100% */
}

#instrument-list{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-inline-start: 0px;
}

#instrument-list li{
  margin: 5px;
  padding: 5px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  background: rgb(66, 244, 200);
}

#instrument-list li h2, h3, p{
  margin-top: 5px;
  margin-bottom: 5px;
}

#delete-all{
  background-color: rgb(244, 122, 66);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border-color: black;
}

.form-item label{
  display: inline-block;
  width: 5.5em;
}
